
.container-fluid {
  display: block;
  margin: 20%;




}

.chosen{

  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  color: blue;
  opacity: .7
}


h1 {
  text-align: center;
  color: rgb(58, 255, 69);
  margin-left: 20%;
  margin-right: 20%;
  background-color: green;
  opacity:.7;
  border: 3px solid grey;


}


.subtitle{

  margin-left: 20%;
  margin-right: 20%;
  background-color: green;
  opacity:.7;
  border: 3px solid grey;

}

p {
  text-align: center;
  color: rgb(58, 255, 69);

}


body {
  font-family: Sans-serif;
  text-shadow: 2px;
  background-image: url(data[randomNum]['urls']['small']);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}






.col-lg-2{
  background-color: rgb(58, 216, 69);
  padding: 0px;
  height: 75px;
  border: 1px solid grey;
  opacity: .7;


}

.name{
  font-family: sans-serif;
  color: purple;
  font-size: 17px;
  background-color: rgb(58, 255, 69);
  width:75%;
  padding-bottom: 0px;
  border: 1px solid blue;



}




#setup{
  background-color: rgb(58, 255, 69);
  border-radius: 5px
}

#call{
  background-color: rgb(58, 255, 69);
  border-radius: 5px;
}

#reset{
  background-color: rgb(58, 255, 69);
  border-radius: 5px;
}
