
.container-fluid {
  display: block;
  margin: 20%;


}

.chosen{

  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  color: blue
}


h1 {
  text-align: center;
  color: rgb(58, 255, 69);

}

p {
  text-align: center;
  color: rgb(58, 255, 69)
}


body {
  text-shadow: 2px;
  background-image: url(data[randomNum]['urls']['small']);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}






.col-lg-2{
  background-color: rgb(58, 216, 69);
  padding: 0px;
  height: 75px;
  border: 2px solid black;
  opacity: .7;


}

.name{
  color: purple;
  font-size: 17px;
  background-color: rgb(58, 255, 69);
  width:75%;
  padding-bottom: 0px;
  border: 1px solid blue;



}




#setup{
  background-color: rgb(58, 255, 69)
}

#call{
  background-color: rgb(58, 255, 69)
}

#reset{
  background-color: rgb(58, 255, 69)
}
